@charset "utf-8";
/* CSS Document */

body{height:600px;}

.smallMenu{
	background-color:greenyellow;
	color:black;
	position:fixed;
	height:200px;
	width:100px;
	text-align: center;
}

.smallMenu tr{
	margin:5px;
	display:block;
}

h1{
	text-align: center;
	margin-left:10%;
	margin-top:50px;	
}
.topThing{
	background-color: darkgreen;
	width: 100%;
	padding: 5px;
}

.placeholder{
	background-color:dimgray;
	width:25%;
	height:50%;
	margin-right: 20px;
	margin-left:10px;
	float: right;
	color:dimgray;
}

.button{
	background-color: lightgreen;
	color:black;
	text-align: center;
	margin-left:45%;
}

.textBox{
	margin-left:120px;
	margin-bottom: 20px;
	text-align:center;
}
