@charset "utf-8";
/* CSS Document */

body{height:600px;}

.smallMenu{
	background-color:greenyellow;
	color:black;
	position:fixed;
	height:200px;
	width:100px;
	text-align: center;
}

.smallMenu tr{
	margin:5px;
	display:block;
}


h1, h2{
	text-align: center;
	margin-left:10%;
	margin-top:50px;	
}
.topThing{
	background-color: darkgreen;
	width: 100%;
	padding: 5px;
}

.placeholder{
	background-color:dimgray;
	width:25%;
	height:50%;
	margin-right: 20px;
	margin-left:10px;
	float: right;
	color:dimgray;
}

.button{
	background-color: lightgreen;
	color:black;
	text-align: center;
	margin-left:45%;
}

.textBox{
	margin-left:120px;
	margin-bottom: 20px;
	text-align:center;
}

h1 h2 p1{
	font: sans-serif;
}

.banner{
	background-color: dimgray;
	color: white;
	width: 60%;
	height: 30%;
	margin-left: 25%;
	text-align: end;
}

.placeholderPicture{
	margin-top:50px;
	margin-bottom:70px;
	margin-left: 20%;
	margin-right:10%;
}

.placeholderPicture a{
	color:white;
}

.placeholderPicture table{
	border:20px;
	background-color: dimgray;
	height:150px;
}

.placeholderPicture th{
	width:2%;
	margin: 200px;
}

.smallPicture{
	width:230px;
	height: 180px;
	background-color: dimgray;
}
.thingieRight{
	float:right;
	margin-right:10%;
	clear:left;
}

.thingieLeft{
	float:left;
	margin-left:140px;
	clear:right;
}

.contact{
	margin-left: 30%;
}
