@charset "utf-8";
/* CSS Document */

body {
	background-color:whitesmoke;
}

/*nooooteeeerrr!*/


/*fixed is great for UI*/
/*.animation is how to change stuff*/

ul li {
	color: white;
}
table{
	background-color:lightgreen;
	color:black;
}
img{
	float:left;
}

.topMenu{
	float:center;
	width:60%;
	margin-left:80px;
	height:50px;
}

.searchbar{
	width:150px;
	height:5px;
	float:right;
	background-color: white;
	color:gray;
	align-text:center;
}

.mainBanner{
	background-color:darkgreen;
	color:white;
	text-align: right;
	height:200px;
}

.placeholderPicture{
	margin-top:50px;
	margin-bottom:70px;
}

a{color:black;}

.endOfPage h2{
	color:white;
	margin-left: 20px;
}

.placeholderPicture a{
	color:white;
}

.placeholderPicture table{
	border:20px hidden;
	background-color: dimgray;
	height:150px;
}

.placeholderPicture th{
	width:2%;
	margin: 200px;
}

.endOfPage{
	width:100%;
	background-color:darkgreen;
	color:white;
	height:150px;
}

.endOfPage div{
	width:30%;
}

h1 h2 p1{
	font: sans-serif;
}
