@charset "utf-8";
/* CSS Document */

body {
	background-color:gray;
}

/*nooooteeeerrr!*/


/*fixed is great for UI*/
/*.animation is how to change stuff*/

ul li {
	color: white;
}
tr{
	background-color:lightgreen;
	color:black;
}
div{background-color:aqua;}

img {
	border-width:20px;
	border-color:teal;
}