@charset "utf-8";
/* CSS Document */

body {
	background-color:whitesmoke;
	width:100%;
}

/*nooooteeeerrr!*/


/*fixed is great for UI*/
/*.animation is how to change stuff*/

ul li {
	color: white;
}
table{
	width:100%;
	background-color:lightgreen;
	color:black;
}


.mainBanner{
	width:100%;
	background-color:darkgreen;
	align-items: flex-end;
	color:white;
}

.aboutMe{
	href:"aboutMe.html";
}

.placeholderPicture{
	width:20%;
	height:100px;
	background-color: dimgray;
	color:white;
}

table .placeholderPicture{
	flex-wrap: wrap;
}