@charset "utf-8";
/* CSS Document */

.topThing{
	background-color: darkgreen;
	width: 100%;
	padding: 5px;
}

.smallMenu{
	background-color:greenyellow;
	color:black;
	position:fixed;
	height:200px;
	width:100px;
	text-align: center;
}

.smallMenu tr{
	margin:5px;
	display:block;
}

h1{
	text-align: center;
	margin-left:10%;
	margin-top:50px;	
}
