@charset "utf-8";
/* CSS Document */

.smallMenu{
	background-color:greenyellow;
	color:black;
	position:fixed;
	height:200px;
	width:100px;
	text-align: center;
}

.smallMenu tr{
	margin:5px;
	display:block;
}
